<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ebanx_abstract>
                <active>0</active>
                <model>EbanxPaymentsGenericFacade</model>
                <debug>1</debug>
                <group>ebanx</group>
                <mode>1</mode>
                <due_date_days>3</due_date_days>
                <auto_capture>1</auto_capture>
                <payment_co_status>pending</payment_co_status>
                <payment_pe_status>pending_payment</payment_pe_status>
                <payment_op_status>pending_payment</payment_op_status>
                <payment_ca_status>canceled</payment_ca_status>
            </ebanx_abstract>

            <!-- Brazil -->
            <ebanx_boleto>
                <active>1</active>
                <model>EbanxPaymentsBoletoFacade</model>
                <title>Boleto</title>
                <benjamin_gateway>boleto</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_boleto>
            <ebanx_tef>
                <active>1</active>
                <model>EbanxPaymentsTefFacade</model>
                <title>Débito Online</title>
                <benjamin_gateway>tef</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_tef>
            <ebanx_creditcard>
                <active>1</active>
                <model>EbanxPaymentsCreditCardFacade</model>
                <title>Cartão de Crédito</title>
                <benjamin_gateway>creditCard</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_creditcard>
            <ebanx_wallet>
                <active>1</active>
                <model>EbanxPaymentsWalletFacade</model>
                <title>Saldo EBANX</title>
                <benjamin_gateway>ebanxaccount</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_wallet>

            <!-- Mexico -->
            <ebanx_oxxo>
                <active>1</active>
                <model>EbanxPaymentsOxxoFacade</model>
                <title>Oxxo</title>
                <benjamin_gateway>oxxo</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_oxxo>
            <ebanx_spei>
                <active>1</active>
                <model>EbanxPaymentsSpeiFacade</model>
                <title>Spei</title>
                <benjamin_gateway>spei</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_spei>

            <!-- Chile -->
            <ebanx_sencillito>
                <active>1</active>
                <model>EbanxPaymentsSencillitoFacade</model>
                <title>Sencillito</title>
                <benjamin_gateway>sencillito</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_sencillito>
            <ebanx_servipag>
                <active>1</active>
                <model>EbanxPaymentsServipagFacade</model>
                <title>Servipag</title>
                <benjamin_gateway>servipag</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_servipag>
            <ebanx_webpay>
                <active>1</active>
                <model>EbanxPaymentsWebpayFacade</model>
                <title>Webpay</title>
                <benjamin_gateway>webpay</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_webpay>
        </payment>
    </default>
</config>
