<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ebanx_abstract>
                <active>0</active>
                <model>EbanxPaymentsGenericFacade</model>
                <debug>1</debug>
                <group>ebanx</group>
                <mode>1</mode>
                <due_date_days>3</due_date_days>
                <payment_co_status>pending</payment_co_status>
                <payment_pe_status>pending_payment</payment_pe_status>
                <payment_op_status>pending_payment</payment_op_status>
                <payment_ca_status>canceled</payment_ca_status>
            </ebanx_abstract>
            <ebanx_boleto>
                <active>1</active>
                <model>EbanxPaymentsBoletoFacade</model>
                <title>Boleto</title>
                <benjamin_gateway>boleto</benjamin_gateway>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_boleto>
            <ebanx_tef>
                <active>1</active>
                <model>EbanxPaymentsTefFacade</model>
                <title>Débito Online</title>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>ebanx</group>
            </ebanx_tef>
        </payment>
    </default>
</config>
