<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_ebanx_boleto">
        <observer name="ebanx_document_data_assign" instance="Ebanx\Payments\Observer\DocumentDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_ebanx_tef">
        <observer name="ebanx_tef_data_assign" instance="Ebanx\Payments\Observer\TefDataAssignObserver" />
        <observer name="ebanx_document_data_assign" instance="Ebanx\Payments\Observer\DocumentDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_ebanx_creditcard">
        <observer name="ebanx_creditcard_data_assign" instance="Ebanx\Payments\Observer\CreditCardDataAssignObserver" />
        <observer name="ebanx_document_data_assign" instance="Ebanx\Payments\Observer\DocumentDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_ebanx_wallet">
        <observer name="ebanx_document_data_assign" instance="Ebanx\Payments\Observer\DocumentDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_ebanx_safetypay">
        <observer name="ebanx_safetypay_data_assign" instance="Ebanx\Payments\Observer\SafetyPayDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_ebanx_eft">
        <observer name="ebanx_eft_data_assign" instance="Ebanx\Payments\Observer\EftDataAssignObserver" />
    </event>
</config>
