<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <style>
        #card-form {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .field{
            margin-top: 10px;
            margin-bottom: 8px;
        }
        .field .control{
            margin-top: 6px;
            margin-right: 20px;
        }
        .jp-card-name {
            display: none !important;
        }
        div.mage-error{
            font-size: 10px!important;
        }
    </style>
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
        />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>


        <div class="card"></div>

        <form id="card-form">
            
            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode()}">
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_number'}" class="label">
                        <span><!-- ko text: $t('Número do Cartão')-->Número do Cartão<!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" 
                            id="cc-number" 
                            placeholder="Número do Cartão"
                            name="number" 
                            maxlength="25" 
                            name="payment[number]" 
                            data-bind="value: number" 
                            data-validate="{'required-entry': true}"/>
                    </div>
                </div>
            </fieldset>

            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode()}" style="width: 30%; display: inline-block;">
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_expiry'}" class="label">
                        <span><!-- ko text: $t('Data de validade')-->Data de validade<!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" 
                            id="cc-expiry" 
                            placeholder="MM/AA"
                            name="expiry" 
                            maxlength="7" 
                            name="payment[expiry]" 
                            data-bind="value: expiry" 
                            data-validate="{'required-entry': true}"/>
                    </div>
                </div>
            </fieldset>

            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode()}" style="width: 30%; display: inline-block;">
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cvv'}" class="label">
                        <span><!-- ko text: $t('Código de segurança')-->Código de segurança<!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" 
                               id="cc-cvc"
                               class="input-text"
                               placeholder="CVV"  
                               name="cvc" 
                               maxlength="4" 
                               name="payment[cvv]" 
                               data-bind="value: cvv" 
                               data-validate="{'required-entry': true}"/>
                    </div>
                </div>
            </fieldset>

            <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode(), id: 'payment_form_' + getCode()}" id="payment_form_ebanx_creditcard">
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_document'}" class="label">
                        <span><!-- ko text: $t('CPF')-->CPF<!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="ebanx_creditcard_document"
                               class="input-text"
                               title="CPF"
                               data-bind="value: paymentDocument"
                               placeholder="CPF"
                               data-validate="{'required-entry': true, 'document-validator': true}">
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" data-bind="
                        click: beforePlaceOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked())" disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
